.colorList {
	display: flex;
	padding: 5px;
	overflow: auto;
}

.colorList .colorListItem {
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border-radius: 5px;
}

.colorList .colorListItem:hover {
	cursor: pointer;
	transition: 0.2s;
	transform: scale(1.1);
}
